*{
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0px;
}
.header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(191, 186, 186);
    max-height: fit-content;
    width: 100%;
    position: fixed;
}

.header .logo{
    margin-left : 20px;
}
.logo .tech{
    height: 40px;
}

.header .nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-icon{
    display: none;
}
.header .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.header .nav-list ul li {
    margin-right: 3px;
}
.header .nav-list li {
    list-style-type: none;
}
.header .nav-list li a {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
    background-color: white;
}
.header .nav-list li:hover a {
    background-color: #044182;
    color: white;
}

.wrap-container{
    margin-top: 0px;
    height: 782px;
    background-image: url("../assets/store.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrap-container .wrapper{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.wrap-container .wrapper h1{
    margin: 20px;
}
.wrap-container .wrapper h3{
    margin: 10px;
}
.wrap-container .wrapper .button-start{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    border-radius:4px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.wrap-container .wrapper .button-start:hover{
    background-color: #044182;
    color: white;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.wrap-container .wrapper .button-start a{
    text-decoration: none;
}


.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}


.content-container .product{
    height: 1000px;
    width: 1000px;
    padding: 3px;
    display: flex;
    flex-basis: 70%;
}

.content-container .product .review{
    display: flex;

    flex-direction: column;
    align-items: center;

}
.content-container .product .review img{
    /* max-width: 900px; */
    width: 100%;
    max-width: 900px;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
}

.content-container .product .review .testimony {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.content-container .product .review .testimony .testimony-acc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.content-container .product .review .testimony .testimony-acc .profile-img{
    max-width: 60px;
    max-height: 60px;
    object-fit: cover;
}


.acc-profile{
    margin-left: 10px;
}

.testi-under{
    margin-left: 5%;
    margin-right: 7%;
}
.testi-under h2{
    font-weight: 200;
    font-size: large;
}

.benefits{
    font-size: medium;
    font-weight: bolder;
    color: rgb(157, 157, 157);
    margin-top: 4rem;
}
.content-container .product .review .testimony h2{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: -3px;
}

.content-container .form{
    background-color: rgb(191, 186, 186);
    border-radius: 8px;
    display: flex;
    flex-basis: 25%;
    flex-grow: 0;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 400px;
    padding: 30px;
}

.content-container .form h2{
    margin-top: 0px;
    font-weight: bolder;
    font-size: xx-large;
}

.content-container .form p{
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: large;
}
.content-container .form .field{
    display: flex;
    flex-direction: column;
}
.content-container .form .field .input-field{
    margin-top: 5px;
    padding: 10px;
    border: black 1px solid;
    border-radius: 4px;
    margin-bottom: 20px;
}
.content-container .form .field .input-label{
    font-weight: bolder;
    font-size: large;
}

.content-container .form .button-submit{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #044182;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    border-radius:4px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.content-container .form .button-submit:hover{
    background-color: #022749;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.package-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
/* 
    height: 100vh; */
}

.package-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(191, 186, 186);
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 30px;
    padding: 10px 0;
    margin-bottom: 3rem;
}

.product-list{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.product-list .item-list{
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.items{
    flex-basis: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.items img{
    height: 50px;
    margin-right: 15px;
}

.item-title{
    font-weight: bold;
}

.items p{
    font-size: 1rem;
}

.item-detail{
    width: 220px;
}

.form .field h5{
    margin-top: -10px;
}
#username,#email{
    color: red;
}


@media only screen and (max-width: 942px){
    .content-container{
        flex-direction: column;
        align-items: center;
    }

    .nav-list{
        flex-wrap: wrap;
    }
    .nav-list ul{
        flex-direction: column;
        gap: 20px;
    }
    .nav-list ul.hidden{
        display: none;
    }

    .menu-icon{
        border: 2px solid;
        border-radius: 4px;
        background-color: white;
        margin-right: 10px;
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: bolder;
    }

    .product-list .item-list{
        flex-direction: column;
    }
}

.call{
    margin-top: 30px;
    padding: 10px;
    border-top: 1px black solid;
}
.call .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.section-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 3px;
}
.button-call{
    background-color: #044182;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    border-radius:4px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    max-width: 200px;
    min-width: 100px;
    margin-bottom: 20px;
}

.button-call:hover{
    background-color: #022749;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.footer{
    border-top: 1px solid black;
    padding: 4px;
    background-color: rgb(191, 186, 186);
    color: black;
}

.footer .container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.footer .container a{
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.footer .container .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer .container .texted{
    margin-left: 10px;
    font-weight: bolder;
}